'fileTypes': [
  'cv'
  'cvw'
  'cbv'
  'combview'
]
'name': 'CombView'
'patterns': [
  {
    'include': '#line_comment'
  }
  {
    'include': '#double_strings'
  }
  {
    'include': '#single_strings'
  }
  {
    'include': '#float'
  }
  {
    'include': '#int'
  }
  {
    'include':'#functionapplication'
  }
  {
    'comment': 'include file'
    'name': 'keyword.control.conditional.combview'
    'match': '^\\s*(include)\\b'
  }
  {
    'comment': 'keywords for conditional operators'
    'name': 'keyword.control.conditional.combview'
    'match': '\\b(if|then|else|minimize|maximize)\\b'
  }
  {
    'include':'#forall'
  }
  {
    'include':'#for'
  }
  {
    'include':'#sum'
  }
  {
      'comment': 'keywords for error testings'
      'name': 'invalid.illegal.combview'
      'match': '\\b(error)\\b'
  }
  {
      'comment': 'keywords for conditional operators'
      'name': 'keyword.control.conditional.combview'
      'match': '\\b(if|then|else)\\b'
  }
  {
      'match': '^\\s*(type)(.*$\\n?)'
      'captures':
        '1':
          'name':'keyword.type.name'
        '2':
          'name':'meta.name.type'
          'patterns': [
           {
             'include' : '#line_comment'
           }
           {
             'include' : '#compoundtypename'
           }
           {
             'include' : '#simpletypename'
           }
        ]
      'comment':'end of type - thanks to http://www.apeth.com/nonblog/stories/textmatebundle.html'
  }
  {
    'include':'#complextypename3'
  }
  {
    'include':'#complextypenameinheritance'
  }
  {
    'include':'#function'
  }
]
'repository':
  'line_comment':
    'captures':
      '1':
        'name': 'comment.line.number-sign.combview'
      '2':
        'name': 'punctuation.definition.comment.combview'
    'match': '(#)(.*$\\n?)'
  'replacement':
    'match': '(\\$[A-Za-z_][A-Za-z0-9_]*)'
    'name': 'entity.name.type.replacement'
  'keyword_argumentssss':
    'begin': '\\b([a-zA-Z_][a-zA-Z_0-9(\\s*of)]*)\\s*(=)(?!=)'
    'beginCaptures':
      '1':
        'name': 'variable.parameter.function.combview'
      '2':
        'name': 'keywordssss.operator.assignment.combview'
    'end': '\\s*(?:(,)|(?=$\\n?|[\\)\\:]))'
    'endCaptures':
      '1':
        'name': 'punctuation.separator.parameters.python'
    'patterns': [
      {
        'include': '$self'
      }
     ]
  'double_strings':
    'patterns': [
      {
        'begin': '(u|u8|U|L)?"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.begin.combview'
          '1':
            'name': 'comment.multiline.combview'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.comment.end.combview'
        'name': 'comment.multiline.combview'
        'patterns': [
          {
            'match': '\\\\u\\h{4}|\\\\U\\h{8}'
            'name': 'comment.multiline.combview'
          }
          {
            'match': '\\\\[\'"]'
            'name': 'comment.multiline.combview'
          }
          {
            'match': '\\\\[0-7]{1,3}'
            'name': 'comment.multiline.combview'
          }
          {
            'match': '\\\\x\\h+'
            'name': 'comment.multiline.combview'
          }
        ]
      }
    ]
  'single_strings':
    'patterns': [
      {
        'begin': '(u|u8|U|L)?\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.combview'
          '1':
            'name': 'string.quoted.single.combview'
        'end': '\''
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.combview'
        'name': 'string.quoted.single.combview'
        'patterns': [
          {
            'match': '\\\\u\\h{4}|\\\\U\\h{8}'
            'name': 'string.quoted.single.combview'
          }
          {
            'match': '\\\\[\'"]'
            'name': 'string.quoted.single.combview'
          }
          {
            'match': '\\\\[0-7]{1,3}'
            'name': 'string.quoted.single.combview'
          }
          {
            'match': '\\\\x\\h+'
            'name': 'string.quoted.single.combview'
          }
        ]
      }
    ]
  'entity_name_function':
    'patterns': [
      {
        'include': '#magic_function_names'
      }
      {
        'include': '#illegal_names'
      }
      {
        'include': '#generic_names'
      }
    ]
  'generic_names':
    'match': '[A-Za-z_][A-Za-z0-9_]*'
  'illegal_names':
    'match': '\\b(if|then|else|function|is|of|solution)\\b'
    'name': 'invalid.illegal.name.combview'
  'magic_function_names':
    'comment': 'these methods have magic interpretation by python and are generally called indirectly through syntactic constructs'
    'match':'(?x)\\b(__(?:abs|add|and|bool|bytes|call|cmp|coerce|complex|contains|del|delattr|delete|delitem|delslice|dir|div|divmod|enter|eq|exit|float|floordiv|format|ge|get|getattr|getattribute|getitem|getslice|gt|hash|hex|iadd|iand|idiv|ifloordiv|ilshift|imatmul|imod|imul|index|init|instancecheck|int|invert|ior|ipow|irshift|isub|iter|itruediv|ixor|le|len|length_hint|long|lshift|lt|matmul|missing|mod|mul|ne|neg|next|new|nonzero|oct|or|pos|pow|radd|rand|rdiv|rdivmod|repr|reversed|rfloordiv|rlshift|rmatmul|rmod|rmul|ror|round|rpow|rrshift|rshift|rsub|rtruediv|rxor|set|setattr|setitem|setslice|str|sub|subclasscheck|truediv|unicode|xor)__)\\b'
    'name': 'support.function.magic.combview'
  'function':
        'comment': 'external function definition'
        'begin': '\\s*(function)\\s+(?=[A-Za-z_][A-Za-z0-9_]*\\()'
        'beginCaptures':
          '1':
            'comment': 'keyword FUNCTION'
            'name': 'keyword.function.name.combview'
          '2':
            'name': 'storage.type.type.combview'
        'end': '(\\))\\s*(-\\>)\\s*(dynamic\\s)?\\s*([A-Za-z_][A-Za-z0-9_\\s]*)'
        'endCaptures':
          '1':
            'name': 'punctuation.definition.parameters.end.combview'
          '2':
            'name': 'keyword.function.arrow.combview'
          '3':
            'name': 'keyword.function.dynamic.combview'
          '4':
            'name': 'entity.name.type.combview'
        'comment': 'meta.function.combview'
        'name': 'meta.function.combview'
        'patterns': [
          {
            'begin': '(?=[A-Za-z_][A-Za-z0-9_]*)'
            'contentName': 'entity.name.function.combview'
            'end': '(?![A-Za-z0-9_])'
            'patterns': [
              {
                'include': '#entity_name_function'
              }
            ]
          }
          {
            'begin': '(\\()'
            'beginCaptures':
              '1':
                'name': 'punctuation.definition.parameters.begin.combview'
            'contentName': 'invalid.illegal.test.combview'
            'end': '(?=\\)\\s*-\\>)'
            'patterns': [
              {
                'include': '#line_comments'
              }
              {
                'include': '#double_strings'
              }
              {
                'include': '#function'
              }
              {
                'match': '(\\b):([a-zA-Z_][a-zA-Z_0-9\\s]*)(?:(,)|(?=[\\n\\)]))'
                'captures':
                  '1':
                    'name': 'variable.parameter.function.combview'
                  '2':
                    'name': 'punctuation.separator.parameters.combview'
                  '3':
                    'name':'entity.name.type.test'
                    'patterns': [
                      {
                        'include':'#line_comments'
                      }
                      {
                        'include':'#simpletypename'
                      }
                      {
                        'include':'#compoundtypename'
                      }
                    ]
                  '4':
                    'name': 'punctuation.separator.parameters.combview'
              }
              {
                                'match': '\\b([a-zA-Z_][a-zA-Z_0-9]*)\\s*(?:(:)|(?=[\\n\\)]))\\s*([a-zA-Z_][a-zA-Z_0-9\\(\\)]*)\\s*(?:(of\\s)\\s*([a-zA-Z_][a-zA-Z_0-9\\(\\)]*)|(?=[\\n\\),]))'
                                'captures':
                                  '1':
                                    'name': 'variable.parameter.function.combview'
                                  '2':
                                    'name': 'punctuation.separator.parameters.combview'
                                  '3':
                                    'comment': 'punctuation.separator.parameters.python'
                                    'name': 'entity.name.type.combview'
                                  '4':
                                    'name': 'keywordssss.external.of.combview'
                                  '5':
                                    'comment': 'punctuation.separator.parameters.python'
                                    'name': 'entity.name.type.combview'
              }
            ]
          }
        ]
      'comment': 'end external function'

  'simpletypename' :
        'match': '([A-Za-z_][A-Za-z0-9_]*)'
        'captures':
          '1':
            'name':'entity.name.type.combview'
  'compoundtypename' :
        'comment' : 'type declaration'
        'match': '(of)\\s+([A-Za-z_\\$][A-Za-z0-9_]*)'
        'captures':
          '1':
            'name':'keyword.type.of.combview'

          '2':
            'name':'entity.name.type.combview'
            'patterns':[
              {
                'begin':'\\('
                'end':'\\)'
                'contentName':'meta.parameter.list'
                'patterns':[
                  {
                    'include':'#line_comment'
                  }
                  {
                    'include':'#replacement'
                  }
                ]
              }
              {
                'include':'#line_comment'
              }
              {
                'include':'#replacement'
              }
              {
                'include':'#simpletypename'
              }
              {
                'include':'#compoundtypename'
              }
            ]
      'comment' : 'end type'
  'parameterlist' :
     'applyEndPatternLast': 1
     'begin':'\\(\\s*'
     'end':'\\s*(\\))'
     'endCaptures':
       '1':
         'name':'entity.name.type'
     'contentName':'invalid.illegal'
     'patterns':[
       {
         'include':'#parameterpair1'
       }
       {
         'include':'#parameterpair2'
       }
     ]
  'parameterpair1':
          'applyEndPatternLast': 1
          'begin':':'
          'end':'(?=(,|\\)))'
          'name':'meta.name.parameter'
          'patterns':[
            {
              'include':'#simpletypename'
            }
            {
              'include':'#compoundtypename'
            }
            {
                'include':'#function'
            }
          ]
  'parameterpair2':
    'match':'(?:(\\b))\\s*([\\w]+)(\\s*:\\s*)([\\w][\\w\\s\\$]*),?'
    'captures':
      '1':
        'name':'invalid.illegal'
      '2':
        'name':'entity.name.function.for.name'
      '3':
        'name':'invalid.illegal'
      '4':
        'patterns':[
          {
            'include':'#compoundtypename'
          }
          {
            'include':'#simpletypename'
          }
        ]
      '5':
        'name':'invalid.illegal.comma'
    'patterns':[
      {
        'include':'#line_comment'
      }
    ]

  'complextypename3' :
        'comment' : 'complex type declaration'
        'begin':'^\\s*([A-Za-z_][\\w]*)\\((?=(.*\\)\\{))'
        'beginCaptures':
          '1':
            'name':'entity.name.type.combview'
        'end':'(?=(\\}))'
        'patterns':[
              {
                  'begin':'\\s+(is)\\s+'
                  'beginCaptures':
                    '1':
                      'name':'keyword.is.combview'
                  'end':'(?=(\\)\\{))'
                  'contentName':'invalid.illegal.name.combview'
                  'patterns': [
                    {
                      'include':'#functionapplication'
                    }
                  ]
              }
              {
                  'begin':'(?=(\\)\\{))'
                  'end':'(?=(\\}))'
                  'nametest':'comment.multiline.meta.name.testcomplex'
                  'patterns':[
                    {
                      'include':'#optimizationbody'
                    }
                  ]
              }
              {
                'include':'#function'
              }
              {
                'include':'#parameterpair2'
              }
        ]

  'functionapplication' :
        'match':'\\b([A-Za-z_][A-Za-z0-9_]*)(\\()([\\w,\\(\\)\\s\\$\\.\\+\\-\\*\\[\\]\\{\\}]*)(\\))\\s+'
        'captures':
          '1':
            'name':'string.quoted.single.combview'
          '2':
            'name':'invalid.illegal.punctuation.begin.parameters'
          '3':
            'name':'entity.name.function.combview'
            'patterns':[
                        {
                          'include':'#float'
                        }
                        {
                          'include':'#int'
                        }
                        {
                          'include':'#sum'
                        }
                      ]
          '4':
            'name':'invalid.illegal.punctuation.begin.parameters'


  'complextypenameinheritanceXXX' :
        'comment' : 'complex type declaration'
        'comment':'^\\s*([A-Za-z_][A-Za-z0-9_]*)(\\()(.*)(\\))\\s*(?:(is))\\s*(?:([A-Za-z_][A-Za-z0-9_]*\\(.*\\)))\\{'
        'comment':'^\\s*([A-Za-z_][\\w]*)(\\(.*?)\\s+((is)\\s+([A-Za-z_][\\w]*)(\\(.*))?\\)\\{'
        'match':'^\\s*([A-Za-z_][\\w]*)(\\(.*\\))\\s+(is)\\s+([A-Za-z_][\\w]*)(\\(.*\\))\\{'
        'beginCaptures':
          '1':
            'name':'entity.name.type.combview'
          '2':
            'comment':'parameter list'
            'patterns':[
              {
                'include':'#functionapplication'
              }
              {
                'include':'#function'
              }
              {
                'include':'#parameterpair2'
              }
            ]
          '3':
            'name':'keyword.is.combview'
          '4':
            'name':'entity.name.type.combview'
          '5':
            'comment':'invalid.illegal.entity.name.type.combview'
            'patterns':[
              {
                'include':'#functionapplication'
              }
            ]
        'end':'(?:(\\}))'
        'patterns':[
              {
                  'begin':'(\\))(?=(\\{))'
                  'beginCaptures':
                    '10':
                      'name':'invalid.illegal.test'
                  'end':'(?=(\\}))'
                  'nametest':'comment.multiline.meta.name.testcomplex'
                  'patterns':[
                    {
                      'include':'#optimizationbody'
                    }
                  ]
              }
              {
                'include':'#function'
              }
              {
                'include':'#parameterpair2'
              }
        ]
  'optimizationbody' :
    'comment' : 'optimization body'
    'begin':'(?=(\\{))'
    'beginCaptures':
      '1':
        'name':'invalid.illegal.block.begin.combview'
    'end':'(?=(\\}))'
    'endCaptures':
      '1':
        'name':'invalid.illegal.block.end.combview'
    'ccontentName':'comment.multiline.combview'
    'comment' : 'end type'
    'patterns':[
      {
        'include':'#float'
      }
      {
        'include':'#int'
      }
      {
        'include':'#forall'
      }
      {
        'include':'#for'
      }
      {
        'include':'#sum'
      }
      {
        'include':'#functionapplication'
      }
      {
        'include':'#label'
      }
    ]
  'forall':
        'begin':'\\b(forall)\\{'
        'beginCaptures':
          '1':
            'name':'keyword.type.forall.combview'
        'end':'\\}'
        'contentName':'invalid.illegal.combview'
  'for':
        'begin':'\\b(for)\\{'
        'beginCaptures':
          '1':
            'name':'keyword.type.forall.combview'
        'end':'\\}'
        'contentName':'invalid.illegal.combview'
  'sum':
        'begin':'\\b(sum)\\{'
        'beginCaptures':
          '1':
            'name':'keyword.type.forall.combview'
        'end':'\\}'
        'contentName':'invalid.illegal.combview'
  'float':
    'match': "\\b(?i:(\\d+\\.\\d*(e[\\-\\+]?\\d+)?))(?=[^a-zA-Z_])"
    'name': 'constant.numeric.float.combview'
  'intv':
    "match": "\\b(?i:(\\d+e[\\-\\+]?\\d+))"
    "name": "invalid.illegal.combview"
  'int':
    "match": "\\b([1-9]+[0-9]*|0)"
    "name": "constant.numeric.integer.decimal.combview"
  'label':
      'begin':'(\\@[A-Za-z])'
      'beginCaptures':
        '1':
          'name':'entity.name.tag.replacement'
      'end':'(?:(\\s|\\[))'
      'contentName': 'entity.name.tag.replacement'
      'patterns': [
        {
          'include':'#replacement'
        }
        {
          'include':'#line_comment'
        }
        {
          'include': '#double_strings'
        }
      ]


'scopeName': 'source.combview'
